@import "mixins";

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.ttf") format("truetype");
}

body {
  margin: 0;
}

.photochar {
  width: 100%;
  min-width: 320px;
  &,
  & * {
    box-sizing: border-box;
  }

  padding: 57px 0;
  background-color: #fff;

  @include xl {
    padding: 40px 0;
  }

  @include lg {
    padding: 44px 0;
  }

  @include md {
    padding: 54px 0;
  }

  @include xs {
    padding: 38px 0;
  }
}

.photochar__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;

  @include xl {
    max-width: 1310px;
  }

  @include lg {
    max-width: 1054px;
  }

  @include md {
    max-width: 798px;
  }

  @include xs {
    width: 100%;
    max-width: 520px;
  }
}

.photochar__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 50px;
  grid-template-areas:
    "titleleft titleright"
    "imageleft imageright"
    "descrleft descrrigth";

  &:not(:last-child) {
    margin-bottom: 107px;
  }

  @include xl {
    gap: 35px 40px;

    &:not(:last-child) {
      margin-bottom: 86px;
    }
  }

  @include lg {
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 83px;
    }
  }

  @include md {
    gap: 20px 30px;

    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  @include xs {
    grid-template-columns: 1fr;
    grid-template-areas:
      "titleleft"
      "imageleft"
      "descrleft"
      "titleright"
      "imageright"
      "descrrigth";

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.photochar__title--left {
  grid-area: titleleft;
}

.photochar__image--left {
  grid-area: imageleft;
}

.photochar__descr--left {
  grid-area: descrleft;
}

.photochar__title--right {
  grid-area: titleright;
}

.photochar__image--right {
  grid-area: imageright;
}

.photochar__descr--right {
  grid-area: descrrigth;
}

.photochar__title {
  margin: 0;
  color: #020202;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  @include xl {
    font-size: 30px;
    line-height: 34px;
    // letter-spacing: 1.5px;
  }

  @include lg {
    font-size: 28px;
    line-height: 32px;
  }

  @include md {
    font-size: 24px;
    line-height: 30px;
  }

  @include xs {
    max-width: 90%;
    font-size: 20px;
    line-height: 24px;
  }
}

.photochar__image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.photochar__descr {
  padding: 0;
  margin: -8px 0 0 0;
  list-style-type: none;

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #020202;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;

    b {
      font-weight: 700;
    }
  }

  @include xl {
    margin-top: -14px;

    li {
      font-size: 22px;
      line-height: 38px;
    }
  }

  @include lg {
    li {
      font-size: 20px;
      line-height: 36px;
    }
  }

  @include md {
    margin-top: -10px;

    li {
      font-size: 18px;
      line-height: 32px;
    }
  }

  @include xs {
    margin-top: -12px;

    li {
      font-size: 15px;
      line-height: 28px;
      letter-spacing: -0.1px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
