@import "mixins";

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.ttf") format("truetype");
}

body {
  margin: 0;
}

.photo-characteristics {
  width: 100%;
  min-width: 320px;
  &,
  & * {
    box-sizing: border-box;
  }

  padding: 87px 0 151px;
  background-color: #fff;

  @include xl {
    padding: 60px 0 223px;
  }

  @include lg {
    padding: 27px 0 124px;
  }

  @include md {
    padding: 24px 0 132px;
  }

  @include xs {
    padding: 61px 0 165px;
  }
}

.photo-characteristics__container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}
